<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moodpix Server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Moodpix Server
      </h1>
      <p class="subtitle">
        <a href="https://moodpix.mjmata.com/" target="_blank">Moodpix</a> is a web app
        that algorithmically generates abstract SVG art based on your mood.
      </p>
    </div>
  </section>
  </body>
</html>
